# Notebook do Jupyter

Este é um notebook interativo.
Posso escrever texto em markdown aqui!

### Tarefas
- Tarefa 1
- Tarefa 2
- Tarefa 3

In [ ]:
print('Olá Mundo')

In [1]:
x = 2

In [2]:
y = 5

In [3]:
x + y

7

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [6, 7, 8]})
df

   A  B
0  1  6
1  2  7
2  3  8